@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .centered-row {
    @apply flex flex-row items-center justify-center;
  }

  .start-row {
    @apply flex flex-row items-center justify-start;
  }

  .between-row {
    @apply flex flex-row items-center justify-between;
  }

  .between-col {
    @apply flex flex-col justify-between;
  }

  .start-col {
    @apply flex flex-col items-center;
  }

  .spinner {
    @apply animate-spin rounded-full h-5 w-5 border border-t-2 border-r-2;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
    background: var(--background);
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* @media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-track {
      background: #1a1a1b;
    }
  } */

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #757372;
    border-radius: 30px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #757372;
  }
}

:root {
  /* background */
  --primary-background: #cfb3a1;
  --secondary-background: #f5c6a9;

  /* text */
  --primary-text: #363534;
  --secondary-text: #757372;

  --brand: #81c8e9;
}

[data-theme='dark'] {
  /* background */
  --primary-background: #1f1c1b;
  --secondary-background: #272325;

  /* text */
  --primary-text: #ffffff;
  --secondary-text: #7b7a7b;
}
