@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .centered-row {
    @apply flex flex-row items-center justify-center;
  }

  .centered-col {
    @apply flex flex-col items-center justify-center;
  }

  .start-row {
    @apply flex flex-row items-start justify-start;
  }

  .between-row {
    @apply flex flex-row items-center justify-between;
  }

  .between-col {
    @apply flex flex-col justify-between;
  }

  .start-col {
    @apply flex flex-col;
  }

  .end-col {
    @apply flex flex-col items-end;
  }

  .centered {
    @apply flex flex-col items-center justify-center w-full h-full;
  }

  .spinner {
    @apply animate-spin rounded-full h-5 w-5 border border-t-2 border-r-2;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer utilities {
  .image-unselectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
    background: var(--background);
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* @media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-track {
      background: #1a1a1b;
    }
  } */

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #757372;
    border-radius: 30px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #757372;
  }
}

:root {
  /* background */
  --primary-background: #f7f7f8;
  --secondary-background: #ffffff;

  /* text */
  --primary-text: #1f1f23;
  --secondary-text: #848491;

  --primary-hover: #e7e7ea;

  --primary-border: #c4c4c4;

  --brand: #1976d2;
}

[data-theme='dark'] {
  /* background */
  --primary-background: #0e0e10;
  --secondary-background: #1e1e1e;

  /* text */
  --primary-text: #ceced3;
  --secondary-text: #7a7a81;

  --primary-hover: #29292e;

  --primary-border: #4d4d50;

  --brand: #90caf9;
}
